<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF=8">
    <title><%= info.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= info.title %></h1>
    <h2><%= info.sign %> </h2>
    <div role="main">
        <p><%= info.content %></p>
        <form action="/confirm" method="POST">
            <input type="text" name="email" id="email" placeholder="email">
            <input type="submit" value="<%= info.sign %> ">
        </form>
    </div>
</body>

</html>